<!DOCTYPE html> 
<html> 
<head> 
    <title>OP Consultation</title> 
  
    <style type="text/css" media="screen"> 
        body {
            font-size: 16px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table tr td {
            padding: 0;
        }

        table tr td:last-child {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .right {
            text-align: right;
        }

        .large {
            font-size: 1.75em;
        }

        .total {
            font-weight: bold;
            color: #fb7578;
        }

        .logo-container {
            margin: 20px 0 30px 0;
        }

        .provider-info-container {
            font-size: 0.875em;
        }
        .provider-info-container td {
            padding: 4px 0;
        }

        .client-name {
            font-size: 1.5em;
            vertical-align: top;
        }

        .consult-context-container {
            margin: 5px 0;
            font-size: 0.875em;
        }

        .consult-context-container th:last-child {
            text-align: right;
        }

        .line-items-container {
            margin: 70px 0;
            font-size: 0.875em;
        }

        .line-items-container th {
            text-align: left;
            border-bottom: 2px solid #ddd;
            padding: 10px 0 15px 0;
            font-size: 0.75em;
            text-transform: uppercase;
        }

        .line-items-container th:last-child {
            text-align: right;
        }

        .line-items-container td {
            padding: 15px 0;
        }

        .line-items-container tbody tr:first-child td {
            padding-top: 25px;
        }

        .line-items-container.has-bottom-border tbody tr:last-child td {
            padding-bottom: 25px;
            border-bottom: 2px solid #ddd;
        }

        .line-items-container.has-bottom-border {
            margin-bottom: 0;
        }

        .line-items-container th.heading-quantity {
            width: 10%;
        }
        .line-items-container th.heading-dosage {
            text-align: left;
            width: 65%;
        }
        .line-items-container th.heading-subtotal {
            width: 100px;
        }

        .payment-info {
            width: 38%;
            font-size: 0.75em;
            line-height: 1.5;
        }

        .footer {
            margin-top: 100px;
        }

        .footer-thanks {
            font-size: 1.125em;
        }

        .footer-thanks img {
            display: inline-block;
            position: relative;
            top: 1px;
            width: 16px;
            margin-right: 4px;
        }

        .footer-info {
            float: right;
            margin-top: 5px;
            font-size: 0.75em;
            color: #ccc;
        }

        .footer-info span {
            padding: 0 5px;
            color: black;
        }

        .footer-info span:last-child {
            padding-right: 0;
        }

        .page-container {
            display: none;
        }

        footer {
          position:fixed;
          bottom:0;
        }

        .footer {
            margin-top: 30px;
        }

        .footer-info {
            float: none;
            position: running(footer);
            margin-top: -25px;
        }

        .page-container {
            display: block;
            position: running(pageContainer);
            margin-top: -25px;
            font-size: 12px;
            text-align: right;
            color: #999;
        }

        .page-container .page::after {
            content: counter(page);
        }

        .page-container .pages::after {
            content: counter(pages);
        }


        @page {
            @bottom-right {
                content: element(pageContainer);
            }
            @bottom-left {
                content: element(footer);
            }
        }
    </style> 
</head> 
  
<body> 
      <div class="logo-container">
        <img
          style="height: 18px"
          src="https://images.squarespace-cdn.com/content/v1/54358a40e4b0d0810faf80c2/1449227490774-VM0J81B5NXHRUIGXPF5H/Bahmni+logo+black+font.png?format=200w"
        >
      </div>
      
      <table class="provider-info-container">
        <tr>
          <td rowspan="2" class="client-name">
            <%=evaluatePath('Bundle.entry.select(resource as Organization).name')%>
          </td>
          <td>
            <strong>
              <%= evaluatePath('Bundle.entry.select(resource as Practitioner).name.first().text') %>&nbsp;
              <%= evaluatePath("Bundle.entry.select(resource as Practitioner).name.suffix.join(', ')") %>
            </strong>
          </td>
        </tr>
        <tr>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            Ganiyari Village, Bilaspur, Chhattisgarh - 495112 
          </td>
          <td>
            NMC: <%=evaluatePath("Bundle.entry.select(resource as Practitioner).qualification.where(identifier.system.contains('nmc.org.in')).select(identifier).value")%>
          </td>
        </tr>
        <tr>
          <td>
            📞 +91-8017922469 &nbsp; &nbsp; <%=evaluatePath("Bundle.entry.select(resource as Organization).contact.telecom.where(system='phone').value")%>
          </td>
          <td>
          <font size="5">  
            &#9993; 
          </font> 
            <%=evaluatePath("Bundle.entry.select(resource as Practitioner).telecom.where(system='email').value")%>
            &nbsp; care@jss.org
          </td>
        </tr>
        <tr>
          <td>
            Reg No: <strong>12345</strong>
          </td>
          <td>
            
          </td>
        </tr>
      </table>

      <hr style="height:2px;border-width:0;color:gray;background-color:gray"/>

      <table class="consult-context-container">
        <tbody>
          <tr>
            <td>
              <strong>
              <%=evaluatePath("name.given + ' ' + name.family + ', ' ", patient)%>
              <%=evaluatePath("gender", patient)%>, <%=getAge(evaluatePath("birthDate", patient))%> years
              </strong><br/>
              <span>Hospital ID: </span><%=evaluatePath("identifier.where(type.text='Patient Identifier').value", patient)%>
            </td>
            <td>
              Date: <%= strToLocalDate(tmplData.timestamp) %>
            </td>
          </tr>
        </tbody>
      </table>
      
      <table class="line-items-container">
        <thead>
          <tr>
            <th class="heading-description">Medication</th>
            <th class="heading-dosage">Dosage</th>
            <th class="heading-quantity">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% evaluatePath('Bundle.entry.select(resource as MedicationRequest)').forEach((medRequest) => { %>
            <tr>
              <td><%= medRequest.medicationReference.display %></td>
              <td><%= medRequest.dosageInstruction[0].text %></td>
              <td><%= medRequest.dispenseRequest.quantity.value %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      
      
      <footer>
        <div class="footer-info">
          <span>info@jss.org</span> |
          <span>+91-80-222 333 444</span> |
          <span>http://www.jss.org</span>
        </div>
        <div class="footer-thanks">
          <span style="font-size:100%;color:red;">&hearts;</span>
          <span>Stay Healthy!</span>
        </div>
      </footer>
</body> 
</html>